<div [@routerTransition]>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4 input-group">
                <input id="btn-input" type="text" class="form-control input-sm" placeholder="Enter SAP Id">
                <span class="input-group-btn">
                    <button class="btn  btn-primary">
                        Search
                    </button>
                </span>
            </div>
        </div>
    </div>
    <br/><br/>
    <div class="row">
        <div class="col-md-12">
            <agm-map [latitude]="center.lat" [longitude]="center.lng" [zoom]="center.zoom">
                <agm-polygon *ngFor="let polygon of boundaries; let i = index;" 
                                [paths]="polygon"
                                [strokeColor]="'#1E90FF'"
                                [fillColor]="'#87CEEB'"
                                [clickable]="true">             
                </agm-polygon>
                
                <agm-marker *ngFor="let m of markers; let ind = index;" [latitude]="m.latitude" [longitude]="m.longitude" [iconUrl]="markerUrl"><agm-info-window>SAP ID: {{m.userId}}</agm-info-window></agm-marker>
            </agm-map>
        </div>
    </div>
</div>
