agm-map {
    height: 90vh;
}

#searchButton{
    margin-right: 3px;
}

.btn, .form-control{
    padding: 0.15rem 0.75rem;
}

.mapTooltip p{
    margin-bottom: 0 !important;
}

.icoBtn {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 27px;
    text-align: center;
    margin-right: 3px;
    display: inline-block;
}

.notifyBtn{
    border: 2px solid #888;
}

.notifyBtn i{
    color: #888;
}

.notifyBtn:hover,  {
    border-color: #28a745;
}

.notifyBtn:hover i{
    color: #28a745;
}

.trackerBtn{
    border: 2px solid #888;
}

.trackerBtn i{
    color: #888;
}

.trackerBtn:hover, .trackerBtn.active {
    border-color: #dc3545;
}

.trackerBtn:hover i, .trackerBtn.active i{
    color: #dc3545;
}

.individual-tooltip{
    height: 60px;
}

.form-div{
    float: left;
}

.tracker-div{
    float: right;
    border: 2px solid #dc3545;
    border-radius: 5px;
    color: #dc3545;
    font-weight: bold;
    font-size: 13px;
    margin-right: 14px;
}

.tracker-div i{
    padding: 3px 6px 3px 6px;
    border-radius: 50%;
    border: 1px solid #dc3545;
    margin-right: 3px;
    animation: blinker 1s linear infinite;
}

#heatmap-btn{
    background-color: #888;
    border-color: #888;
    box-shadow: none;
}

#heatmap-btn.active{
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.tracker-div a{
    cursor: pointer;
    display: inline-block;
    background: #dc3545;
    color: #fff;
    padding: 4px;
    border-radius: 3px;
}

.top-bar{
    position: fixed;
    z-index: 999;
    padding: 10px;
    opacity: 0.8;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
}