{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
}

.header {
	background-color: #ff5706;
	padding-top: 5px;
	border-radius: 5px;
    border: 2px solid #000000;
   
}

.leftArea {
	background-color: #ecebea;
	position: absolute;
	border-radius: 5px;
    border: 2px solid #000000;
    padding: 20px; 
    height: 540px; 
	left: 10px;
	top: 85px;

}

.mainArea {
	background-color: #ecebea;
	position: absolute;
	border-radius: 5px;
    border: 2px solid #000000;
    padding: 20px; 
    left:240px;
    height: 540px;
    width:1055px;
    top: 85px;
	
}


ul {
	list-style-type: none;
	padding-left: 0px;
	margin-top: 0px;
}

li a { 
	text-decoration:none;
	display: block;
	color: #000000;
	border-bottom:solid 1px #CCCCCC;
	padding: 8px;
}

li a:hover {
	background-color: #4B0A1E;
	color: #BA8A92;
}

input, textarea {
  border:1px solid #ccc;
  min-height:20px;
  outline: none;
  
}

.form {
  position: relative;
  width: 640px;
  height: 100%;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  padding: 50px 30px 0;
}


.mainArea input {

  margin-bottom:15px;
  margin-top:5px;
  width:280px;
}

textarea {
	margin-bottom:15px;
  	margin-top:5px;
	height: 200px;
  	width:250px;
}

label {
	display:block;
}

button {
	padding:6px;
}


#searchKey {
	width:160px;
}