<div [@routerTransition]>
    <div class="row">
        <div class="col-md-12 top-bar">
            <div class="alert alert-info" *ngIf="adminNotifObj.showNotif">{{adminNotifObj.message}}<a (click)="closeNotif()" class="pull-right text-danger" role="button"><i class="fa fa-times"></i></a></div>
            <form id="searchForm" name="searchForm" (ngSubmit)="searchUser()" #searchForm="ngForm">
                <div class="col-md-4 input-group form-div">
                    
                    <input id="btn-input" type="text" required name="searchKey" [(ngModel)]="searchKey" class="form-control input-sm" placeholder="Enter SAP Id" autocomplete="off">
                    <span class="input-group-btn">
                        <button class="btn  btn-primary" id="searchButton" type="submit"> 
                            Search
                        </button>
                        <button (click)="getAllUsers()" class="btn btn-secondary" type="button"> 
                            Reset
                        </button>
                    </span>
                    
                </div>
            </form>
            <button id="heatmap-btn" class="btn btn-info pull-right" [ngClass]="{'active': this.showHeatMap}" (click)="toggleHeatmap()">Toggle Heatmap</button>
            <div class="tracker-div" *ngIf="trackingObj.isLiveTrackerOn == true">
                <span><i class="fa fa-map-marker"></i>Tracking SAP ID: {{trackingObj.userId}}</span>  
                <a class="trackerLink" (click)="stopTracking()">&nbsp;Stop</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <agm-map [latitude]="defaultOptions.lat" 
                     [longitude]="defaultOptions.lng" 
                     [zoom]="defaultOptions.zoom"
                     (mapReady)="userMapReady($event)">
                <ng-container *ngIf="locationHistory.length == 0">            
                    <agm-polygon *ngFor="let polygon of boundaries; let i = index;" 
                                    [paths]="polygon.points"
                                    [strokeColor]="polygon.strokeColor"
                                    [fillColor]="'#87CEEB'"
                                    [clickable]="polygon.clickable"
									[fillOpacity]="polygon.opacity"
                                    (polyClick)="polygonClicked($event)">   

                        <agm-snazzy-info-window *ngIf="!polygon.master" [latitude]="defaultOptions.polygonLat" 
                                        [longitude]="defaultOptions.polygonLng" 
                                        [isOpen]="defaultOptions.isPolygonOpen"
                                        (beforeOpen)="getCurrentCount(polygon.locationId)"
                                        (afterClose)="updateState()"> 
                                        <ng-template>
                                            <div class="mapTooltip">
                                                <p><strong>{{polygon.title}}</strong></p>
                                                <p><strong>Total Capacity: </strong>{{polygon.capacity}}</p>
                                                <p><strong>Current Count: </strong>{{currentCount}}</p>
                                                <div>
                                                    <a class="notifyBtn icoBtn pull-right" (click)="openMessageModal(content, polygon.title, 'boundary', polygon.locationId)"><i class="fa fa-bullhorn"></i></a>
                                                </div>
                                            </div>
                                        </ng-template>
                        </agm-snazzy-info-window>                  
                    </agm-polygon>
                </ng-container>
                
                <ng-container *ngIf="!showHeatMap">
                    <ng-container *ngFor="let m of markers; let ind = index;">
                        <agm-marker *ngIf="m.online == true" [latitude]="m.latitude" [longitude]="m.longitude" [iconUrl]="markerUrl" (markerClick)="openIW(infoWindow)">
                            <agm-info-window #infoWindow>
                                <div class="mapTooltip individual-tooltip">
                                    <p><strong>SAP ID:</strong> {{m.userId}}</p><br/>
                                    <div>
                                        <a class="notifyBtn icoBtn" (click)="openMessageModal(content, m.userId, 'individual', m.userId)"><i class="fa fa-bullhorn"></i></a>
                                        <a class="trackerBtn icoBtn" (click)="trackUser(content, m.userId, ind)"><i class="fa fa-map-marker"></i></a>
                                    </div>
                                </div>
                            </agm-info-window>
                        </agm-marker>
                    </ng-container>
                </ng-container>

                <ng-container *ngIf="locationHistory.length > 0">
                    <agm-polyline [strokeColor]="'#1E90FF'" [geodesic]="'true'">
                        <agm-polyline-point *ngFor="let data of locationHistory" 
                            [latitude]="data.coordinate.latitude"
                            [longitude]="data.coordinate.longitude">
                        </agm-polyline-point>
                    </agm-polyline>
                </ng-container>
            </agm-map>
        </div>
    </div>

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Send Notification</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12">
                    <form role="form" id="messageForm" name="messageForm" (ngSubmit)="sendMessage()" #messageForm="ngForm">
                        <div class="alert alert-success" *ngIf="successMsg != null">{{successMsg}}</div>
                        <fieldset class="form-group">
                            <p>{{messageObj.titleText}}</p>
                            <input type="text" class="form-control" name="messageTitle" [(ngModel)]="messageObj.messageTitle" required maxlength="60" placeholder="Enter title here" autocomplete="off"/><br/>
                            <textarea [(ngModel)]="messageObj.messageText" name="messageText" required class="form-control" rows="3" maxlength="150" placeholder="Enter message here"></textarea>
                            <p class="pull-right"><small>Max characters allowed: 150</small></p>
                        </fieldset>
                        <div class="spinner" *ngIf="showSending">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <button type="submit" class="btn btn-primary" *ngIf="!showSending">Send</button>
                    </form>
                </div>
            </div>
        </div>
        
    </ng-template>
</div>
<simple-notifications></simple-notifications>